$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

$body-color: #f0f0ff;
$main-blue: #054a91;
$main-orange: #ec9a29;
$main-bordo: #23001e;
$main-light-blue: #a5d8ff;
$main-red: #de3c4b;
$section-bg: #e4e4fb;
$section-border: rgba(113, 147, 174, 0.2);

$button-border: #7193ae71;

// BUTTON - PRIMARY
$button-primary-bg:  #a5d8ff;
$button-primary-hover-bg:  #99cef5;
$button-primary-active-bg:  #6fbbf1;

$button-primary-color:  #0c0e11;
$button-primary-border:  #586b87;

$button-primary-hover-border:  #566884;

// BUTTON - SECONDARY
$button-secondary-bg:  $main-orange;
$button-secondary-hover-bg:  #df8f20;
$button-secondary-active-bg:  #d68719;

$button-secondary-color: #341f02;// #0c0e11;
$button-secondary-hover-color: #341f02;// #0c0e11;
$button-secondary-border:  #a86e1c;

$button-secondary-hover-border:  #566884;

// BUTTON - TERTIARY
$button-tertiary-bg:  #d5d5e6;
$button-tertiary-hover-bg:  #7bb7f8;
$button-tertiary-hover-color: #edf7ff;
$button-tertiary-active-bg:  #6fbbf1;
$button-tertiary-color:  #0c0e11;
$button-tertiary-border:  #586b87;

$button-tertiary-hover-border:  #566884;

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}
